<p id="notice"><%= notice %></p>

<h1>Score Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @score_types.each do |score_type| %>
      <tr>
        <td><%= score_type.name %></td>
        <td><%= link_to 'Show', score_type %></td>
        <td><%= link_to 'Edit', edit_score_type_path(score_type) %></td>
        <td><%= link_to 'Destroy', score_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score Type', new_score_type_path %>
